LOCATE COMP "clk_25mhz"  SITE "P3";&#10;LOCATE COMP "btn0"      SITE "P2";&#10;LOCATE COMP "uart_tx"   SITE "P1";&#10;&#10;IOBUF PORT "clk_25mhz"  IO_TYPE=LVCMOS33;&#10;IOBUF PORT "btn0"       IO_TYPE=LVCMOS33;&#10;IOBUF PORT "uart_tx"    IO_TYPE=LVCMOS33;
